{% extends 'appname/base.html' %}

{% block header %}
<br>
<br>
<br>
<br>
<br>
<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">로그인</h1>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
{% endblock %}

{% block content %}
<form method="POST" action="signin">
    {% csrf_token %}
    {{ signin_form.as_p }}
    <input type="submit" value="submit">
</form>
{% endblock %}